.ButtonList{
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 30%;
    border-radius: 5px;
    border-width: 0.2px;
    background-color: #DAB671;
    align-items: center;
    justify-content: center;
}

.NameOfBut{
    color: #5C4081;
}