*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw ;
    height:5vh;
    background-color: #E7E6E4;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.tag{
    align-self: end;
    font-size: x-small;
    padding-bottom: 5px;
}


.nameOfUser{
    font-size: medium; 
}

.but{
    justify-self: start ;
    width: auto;
}

.phoneNumber{
    align-self: end;
    font-size: x-small;
    padding-bottom: 5px;
}
