.ExitBut{
   display: flex;
   background-color:#E3C07C ;
   justify-content: center;
   align-self: center;
   align-items: center;
   border-radius: 10px;
   border-width:1px ;
   margin-top: 10px ;
   height: 33px;
   width: 14%;
}

.TextEditBut{
    color: red;
}